// TYPOGRAPHY

// HEADINGS

h5 {
	font-family: @font-swatch4-font-family;
	font-weight: @font-swatch4-font-weight;
	letter-spacing: @font-swatch4-letter-spacing;
	color: @font-swatch4-color;
}

h6 {
	font-family: @font-swatch4-font-family;
	font-weight: @font-swatch4-font-weight;
	letter-spacing: @font-swatch4-letter-spacing;
	color: @font-swatch4-color;
}

// Normal Text

h1, h2, h3, h4, h5, h6, p, a, pre, code {
	word-break: break-word;
}

.widget.content .wysihtml-editor-content,
.widget.embed .embed-content,
.widget.content.in-editing .wysihtml-editor-content {
	font-size: @font-swatch5-font-size !important;
	line-height: @font-swatch5-line-height !important;

	&, p, span, small, pre, code,
	table, th, td {
		color: @font-swatch5-color;
	
		.style--light & {
			color: @font-swatch5-color;
		}
	
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}
	}
}

ul, ol, li {
	color: @font-swatch5-color;
			
	.style--light & {
		color: @font-swatch5-color;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

p {
	padding-bottom: 1em;
}

// PREFORMATTED AND CODE TEXT

pre, code {
	display: block;
	margin: 1em 0;
	padding: 0.5em 1em;
	border: none;
	border-radius: 20px;
	background-color: fade(@color-swatch5, 10%);
	overflow: auto;
	font-family: monospace;

	.style--light & {
		background-color: fade(@color-swatch5, 10%);
	}

	.style--accent & {
		background-color: fade(@contrast--accent, 10%);
	}

	.style--dark & {
		background-color: fade(@contrast--dark, 10%);
	}
}

code {
	border-left: 5px solid @color-swatch3;

	.style--light & {
		border-color: @color-swatch3;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @contrast--dark;
	}
}